body{
    background-color: rgb(39, 39, 39);
    margin: 0px;
}
#mainContainer{
    display: flex;
    text-align: center;
    flex-direction: column;
}
#navBar{
    display: flex;
    border-bottom: solid 1px rgb(0, 0, 0);
    background-color: rgb(30, 30, 30);
    padding: 10px 10px;
    width: 100vw;
}
#buttonDiv{
    display: flex;
    justify-content: space-around;
    width: 100vw;
}
#buttons{
  border: none;
  outline: none;
  background: none;
  padding: 0;
  margin: 0; 
  font-size: 35px;
}
#buttons:hover{
    background-color: rgb(27, 27, 27)
}
.str{
    color: red;
}
.agi{
    color:rgb(15, 138, 15)
}
.int{
    color: rgb(16, 16, 197);
}
.uni{
    color: purple;
}
#homeMessage{
    margin-top: 20px;
}
#mainImages{
    display: flex;
    align-self: center;
    margin-top: 20px;
}
.heroDisplay{
}
img{
    display: flex;
    flex: 1 1 auto;
    border: 1px blue solid;
    border-right: none;
}
#broodLast{
    border-right: 1px solid blue;
}